* {
  margin: 0;
  padding: 0;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  line-height: 2.4rem;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background: #fff;
  color: #646464;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
input {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}
button {
  border: none;
  outline: none;
  background: transparent;
  font-family: inherit;
}
input,
textarea {
  font-family: inherit;
}
/* Some Extra for pre style */
.two_columns {
  display: flex;
  justify-content: space-between;
}
.two_columns div {
  flex: 0 0 calc(50% - 15px);
}
/* Some Extra for pre style */
