* {
  margin: 0;
  padding: 0;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  line-height: 2.4rem;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
/* ------------------------------------------------------------------------------- */
/* --- GLOBAL CSS --- */
/* ------------------------------------------------------------------------------- */
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
h1 {
  color: #000;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
}
p {
  color: #646464;
}

/* st global input css  */
input {
  color: #667085;
  font-size: 1.6rem;
  font-weight: 400;
  border-radius: 0.8rem;
  border: 0.1rem solid var(--gray-300, #d0d5dd);
  background: var(--White, #fff);
  box-shadow: 0 0.1rem 0.2rem 0 rgba(16, 24, 40, 0.05);
  padding: 1rem 1.4rem;
  width: 100%;
}
input:focus:focus-visible {
  /* border: none; */
  box-shadow: none;
  outline: none;
}
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
}

/* Customize the radio button when checked */
input[type="radio"]:checked + .radio-control {
  border-color: #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

input[type="radio"]:checked + .radio-control span {
  background-color: #2d2d2d;
  width: 50%;
  height: 50%;
  display: block;
  border-radius: 50px;
  margin-right: 1.1px;
}

/* Hide the default radio button */
input[type="radio"] {
  display: none;
}

/* Style the radio label */
.custom-radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  margin: 0;
}

/* Style the custom radio control */
.radio-control {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 8px;
  transition: background-color 0.2s, border-color 0.2s;
  border: 1px solid #878787;
  background: #fff;
}
/* ED global input css  */
.btn {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
  padding: 1rem 1.6rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn-dark {
  border-radius: 8px;
  border: 1px solid #ededed;
  background: #383838;
  box-shadow: 0px 0px 0px 4px #ededed, 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: #fff;
}
.btn-dark:hover {
  background: rgba(16, 24, 40, 0.05);
  color: #383838;
}
.btn-over-dark {
  border-radius: 0.8rem;
  border: 0.1rem solid #5a5a5a;
  background: #555;
  box-shadow: 0 0.1rem 0.2rem 0 rgba(16, 24, 40, 0.05);
  color: var(--White, #fff);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
}
.btn-over-dark:hover {
  background-color: rgba(16, 24, 40, 0.05);
}
.btn-full {
  width: 100%;
}

.btn-lg {
  padding: 16px 28px;
  font-size: 18px;
}
/* ------------------------------------------------------------------------------- */
/* --- Custom Modal CSS --- */
/* ------------------------------------------------------------------------------- */
.custom-modal {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  height: 100%;
  background: #0606069e;
  z-index: 99;
  display: none;
}
.modal-wrapper {
  width: 100%;
  max-width: 512px;
  margin: 0 auto;
  margin-top: 10rem;
  background: #fff;
  padding: 20px 16px 16px 16px;
  position: relative;
  border-radius: 12px;
  background: var(--White, #fff);
  box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03),
    0px 20px 24px -4px rgba(16, 24, 40, 0.08);
  transition: 0.4s;
  text-align: center;
}
.modal_close_button {
  position: absolute;
  top: -15px;
  right: -15px;
  border-radius: 32px;
  background: #000;
  box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.2);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  width: 35px;
  height: 35px;
  transition: 0.3s;
}
.modal_close_button:hover {
  transform: scale(0.9);
}
.modal_title {
  color: var(--gray-900, #101828);
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  padding: 20px 0;
}
.modal_footer {
  margin-top: 20px;
}
.have_account p {
  color: #989898;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.have_account a {
  color: #a4a4a4;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  transition: 0.3s;
}
.have_account a:hover {
  color: #383838;
}
.custom-modal .custom_radio {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.toggle_top {
  transform: translateY(-300px);
}
.modal-show {
  display: block;
}
.modal-show .toggle_top {
  transform: translateY(0);
}
/* ------------------------------------------------------------------------------- */
/* --- HEADER CSS --- */
/* ------------------------------------------------------------------------------- */
header {
  padding: 28px 0px;
}
.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
/* style the header search form  */
.header_search {
  max-width: 632px;
  border-radius: 0.8rem;
  border: 0.1rem solid #d0d5dd;
  background: #fff;
  box-shadow: 0 0.1rem 0.2rem 0 rgba(16, 24, 40, 0.05);
  width: 100%;
  padding: 5px 9px;
}
.header_search form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.header_search input {
  border: none;
  box-shadow: none;
  padding: 0.5rem 1.4rem;
}
.header_search i {
  color: rgba(152, 162, 179, 1);
  font-size: 1.8rem;
}
.search_category {
  position: relative;
}
.search_category select {
  border-radius: 0.8rem;
  background: #f1f1f1;
  border: none;
  padding: 0.8rem 1.6rem;
  height: 100%;
  padding-right: 1.1rem;
  color: #595959;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
  appearance: none;
  padding-right: 3rem;
}
.search_category::after {
  content: "\f078";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  top: 50%;
  right: 10px;
  transform: translateY(-42%);
  font-size: 15px;
  color: #595959;
  pointer-events: none;
}

/* Style the custom dropdown container */
.custom-dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-button {
  background-color: transparent;
  color: rgba(135, 138, 140, 1);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
}
.dropdown-button i {
  margin-left: 5px;
}
.dropdown-list {
  list-style: none;
  padding: 0;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: none;
  min-width: 200px;
  transform: translateY(10px);
}
.dropdown-list li {
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown-list li i {
  margin-right: 10px;
}
.custom-dropdown:hover .dropdown-list {
  display: block;
}

.header_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 15px;
}
/* ------------------------------------------------------------------------------- */
/* --- BANNER CSS --- */
/* ------------------------------------------------------------------------------- */
.banner_wrapper {
  padding-top: 100px;
  padding-bottom: 80px;
}
.banner_wrapper {
  text-align: center;
}
.banner_wrapper h1 {
  width: 100%;
  max-width: 941px;
  margin: 0 auto;
}
.banner_wrapper p {
  padding-top: 20px;
  padding-bottom: 56px;
}
/* ------------------------------------------------------------------------------- */
/* --- FOOTER CSS --- */
/* ------------------------------------------------------------------------------- */
footer {
  background: #000;
  padding: 6.4rem 0 4.8rem 0;
}
.footer_top_area {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.footer_top_left {
  flex: 0 0 70%;
}
.footer_top_right {
  flex: 0 0 30%;
}
.footer_top_left ul {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  gap: 3.2rem;
  margin-top: 3.2rem;
}
footer ul li a {
  color: #656565;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  transition: 0.3s;
}
footer ul li a:hover {
  color: #fff;
}
.footer_title {
  color: var(--White, #fff);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
  margin-bottom: 1rem;
}
.subcribe_form {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  gap: 10px;
}
.footer_bottom_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-top: 7rem;
}
.footer_bottom_area ul {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  gap: 1rem;
}
.copyright_text {
  color: #aaa;
  font-weight: 400;
  line-height: 24px;
}
.auto-fit {
  height: calc(100vh - 40.8rem);
}
